@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .bg-green-500{
    background-color: #CCD5AE;
  }
  .bg-green-400{
    background-color: #E9EDC9;
  }
  .bg-pink-500{
    background-color: #FAEDCD;
  }
  .bg-pink-400{
    background-color: #FEFAE0;
  }

  .h-96{
    height: 35rem;
  }
  .border-pink-500{
    border-color: #FEFAE0;
  }
  .border-green-500{
    border-color: #CCD5AE;
  }
  
    .text-pink-500{
      color:#f43f5e;
    }
}
body{
  background-color: #CCD5AE;
}